*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    Background: linear-gradient(45deg, #ff0000, #0000ff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
background-color: rgba(7, 0, 73, 0.5);
height: 100px;
width: 100px;
border: 2px solid black;
border-radius: 10px;
color:white;
/* display: flex; */
display: flex;
justify-content: center;
align-items: center;
flex-basis: 200px;
flex-grow: 1;
flex-shrink: 1;

}
.container{
    height: 50%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    gap: 20px;
/* justify-content: center; */
padding: 20px;
align-items: center;
}

#box1{
    background-color: rgba(89, 189, 217, 0.5);
    flex-grow: 2;
}
#box2{
    background-color: rgba(255, 0, 0, 0.5);
    flex-grow: 1;
    flex-basis: 300px;
}
#box3{
    background-color: rgba(217, 255, 0, 0.5);
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 60px;
}