.main{
background: linear-gradient(to right, #14efff, #ff9900);

background-color: #45e2e2;
text-align: center;
padding: 5rem;

}

/* .container{

position: relative;
width: 100%; 

} */
.box1{
padding: 20px;
background-color: rgb(213, 119, 191);    
border-radius: 10px;
margin-bottom: 20px;
margin-top: 20px;
margin-left: 20px;
margin-top:12%;
position: absolute;
top: 200px ;
right: 400px;

}
.box2{
    padding: 20px;
background-color: rgb(213, 119, 191);    
border-radius: 10px;
margin-bottom: 20px;
margin-top: 20px;
margin-left: 20px;
margin-right: 20px;
position: absolute;
bottom:640px;
right: 380px;
}
.box3{
    padding: 20px;
background-color: rgb(213, 119, 191);    
border-radius: 10px;
margin-bottom: 20px;
margin-top: 20px;
margin-left: 20px;
margin-right: 20px;
position: absolute;
border-top-right-radius: 0px;
right: 0px;
}




.box10{
    padding: 20px;
background-color: rgb(213, 119, 191);    
border-radius: 10px;
margin-bottom: 20px;
margin-top: 20px;
margin-left: 20px;
margin-right: 20px;
position: absolute;
bottom: 0px;
right: 0px;
border: 2px solid rgb(82, 1, 1);
}